:root {
    font-size: 10px;

}

* {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", serif;
    margin: 0;
    padding: 0;

    h3 {
        margin: 0;
    }
}

img {
    width: 100%;




}

header {
    padding-inline: 50px;

    nav {
        display: flex;
        justify-content: space-between;
        padding-inline: 10px;
        text-align: center;
        align-items: center;

        div {

            span {
                display: block;
                padding: 1px;
                height: 5px;
                width: 50px;
                margin-block: 10px;
                background-color: black;



            }

        }

        >a {
            color: #FE7EC9;
            font-size: 2.4rem;
        }

        ul {
            display: none;
            list-style: none;

            li a {
                text-decoration: none;
                color: black;
            }

            &.open {
                
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 200px;
                background-color: rgba(51, 51, 51, 1);
                color: white ;
                margin: 0;
                padding: 0;
                
                
                
                

                li {
                    
                    &:first-child{
                        margin-top: 40px;
                    }
                    font-size: x-large ;
                    text-align: center;
                    padding: 10px;
                    
                    
                   
                    
                    a{
                        color: white ;
                        
                    }
                    
                }
            }


        }
    }



}

main {
    .une {
        padding-inline: 50px;
    }

    p {
        font-size: 2.4rem;
        width: 100%;
        text-align: center;


    }

    h2 {
        color: black;
        font-size: 3.6rem;
        padding: 10px;
        text-align: center;

        section:first-child {
            text-align: center;
            padding-inline: 10px;
            margin-bottom: 0;
        }

        h3 {
            text-align: center;
            margin: 0;
        }

    }

    #accueil {


        article {

            text-align: center;

            >img {
                width: 50%;
                padding-top: 20%;
                padding-bottom: 20%;

            }

            h2 {
                margin: 0;
                padding-bottom: 20%;
            }

            &:first-of-type {
                background-color: aquamarine
            }

            &:nth-of-type(2) {
                background-color: blueviolet;

                h2 {
                    color: white;
                }
            }

            &:nth-of-type(3) {
                background-color: red;
            }

            &:nth-of-type(4) {
                background-color: green;
            }
        }



    }

    #a-propos {
        padding-inline: 50px;
        text-align: center;

        div {
            p {
                font-weight: 300;

            }

            h2 {
                font-size: 3.6rem;
            }
        }

        article:first-of-type {
            padding-bottom: 10px;
            background-color: aqua;

            h3 {
                font-size: 2.4rem;
                font-weight: 300;

            }

            img {
                width: 10vw;
                margin-top: 10%;
                background-color: blue;
                border-radius: 50%;
            }

            p {
                font-size: 1.4rem;
            }

            a {
                text-decoration: none;
                color: blue;
                font-size: 1.6rem;
            }
        }

        >:nth-of-type(2) {
            background-color: blueviolet;
        }

    }
}

@media (min-width:768px) {


    .une {


        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;









    }




    #accueil {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-inline: 50px;

    }

    #a-propos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding-inline: 50px;

        div, img:first-of-type{
            
            grid-column-start: 1;
            grid-column-end: -1;
          
        }
    }
}

@media (min-width:1024px) {


    .une {


        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        div, img{
            padding: 20px;
        }

    }

    #accueil {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        padding-inline: 50px;

    }

    #a-propos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding-inline: 50px;

        div{
            
            grid-column-start: 1;
            grid-column-end: -1;
          
        }
        img:first-of-type{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 6;
        }
        article,img:(not)first-of-type
    }
}